.header {
position: absolute;
width: 192px;
height: 29px;
left: 37px;
top: 34px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
}

.navbar-home {
position: absolute;
text-transform: uppercase;
width: 48px;
height: 19px;
left: 453px;
top: 48px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}

.navbar-profile {
position: absolute;
text-transform: uppercase;
width: 100px;
height: 19px;
left: 643px;
top: 48px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}

.navbar-messages {
position: absolute;
text-transform: uppercase;
width: 117px;
height: 19px;
left: 855px;
top: 48px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}

.navbar-friends {
position: absolute;
text-transform: uppercase;
width: 68px;
height: 19px;
left: 1082px;
top: 48px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}

.navbar-discover {
position: absolute;
text-transform: uppercase;
width: 80px;
height: 19px;
left: 1280px;
top: 48px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}

.signin-subtext {
position: absolute;
width: 194px;
height: 24px;
left: 313px;
top: 293px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
}

.signin-header {
position: absolute;
text-transform: uppercase;
width: 345px;
height: 48px;
left: 238px;
top: 210px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
}

.signin-username {
position: absolute;
text-transform: uppercase;
width: 72px;
height: 29px;
left: 157px;
top: 371px;
/* font-family: 'Inter'; */
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
}

.signin-password {
position: absolute;
text-transform: uppercase;
width: 134px;
height: 29px;
left: 157px;
top: 526px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;
}

.signup-header {
  position: absolute;
  text-align: center;
  
  text-transform: uppercase;
  width: 160px;
  height: 48px;
  left: 225px;
  top: 23px; 
  
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  
  color: #FFFFFF;  
}

.username {
box-sizing: border-box;
position: absolute;
width: 506px;
height: 64px;
left: 157px;
top: 408px;

background: #F0EEEE;
border: 1px solid #020202;
}

.password {
box-sizing: border-box;
position: absolute;
width: 506px;
height: 64px;
left: 157px;
top: 558px;

background: #F0EEEE;
border: 1px solid #020202;
}

.signin-button {
box-sizing: border-box;

position: absolute;
width: 453px;
height: 64px;
left: 184px;
top: 708px;

background: #FF327C;
border-radius: 20px;
text-transform: uppercase;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
}

.signup-username {
  box-sizing: border-box;

  position: absolute;
  width: 506px;
  height: 48px;
  left: 50px;
  top: 258px; 
  
  background: #F0EEEE;
  border: 1px solid #020202;  
}

.signup-password {
 box-sizing: border-box;

  position: absolute;
  width: 506px;
  height: 48px;
  left: 50px;
  top: 358px;
  
  background: #F0EEEE;
  border: 1px solid #020202;  
}

.signup-bio {
  box-sizing: border-box;

  position: absolute;
  width: 506px;
  height: 48px;
  left: 50px;
  top: 458px;
  
  background: #F0EEEE;
  border: 1px solid #020202;  
}

.signup-firstname {
  box-sizing: border-box;
 
  position: absolute;
  width: 224px;
  height: 48px;
  left: 48px;
  top: 158px;
  
  background: #F0EEEE;
  border: 1px solid #020202;  
}

.signup-lastname {
  box-sizing: border-box;

   position: absolute;
  width: 224px;
  height: 48px;
  left: 331px;
  top: 158px;
  
  background: #F0EEEE;
  border: 1px solid #020202;    
}

.signup-image {
box-sizing: border-box;

position: absolute;
width: 224px;
height: 48px;
left: 48px;
top: 558px;
/* 
background: #F0EEEE;
border: 1px solid #020202; */
}

.signup-subtext {
position: absolute;
width: 136px;
height: 24px;
left: 248px;
top: 70px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
}

.signup-button {
box-sizing: border-box;

position: absolute;
width: 453px;
height: 64px;
left: 88px;
top: 628px;

background: #F9F0F0;
border-radius: 20px;
font-style: normal;
font-weight: 700;
font-size: 36px;
text-transform: uppercase;
}

.first-name {
position: absolute;
width: 144px;
height: 29px;
left: 48px;
top: 125px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}

.last-name {
position: absolute;
width: 139px;
height: 29px;
left: 330px;
top: 125px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}

.signup-username-label {
position: absolute;
width: 133px;
height: 29px;
left: 48px;
top: 225px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}

.signup-password-label {
position: absolute;
width: 134px;
height: 29px;
left: 48px;
top: 325px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}

.signup-image-label {
  position: absolute;
  width: 76px;
  height: 29px;
  left: 48px;
  top: 525px;
  
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;  
}

.bio {
position: absolute;
width: 152px;
height: 29px;
left: 48px;
top: 425px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}

/* .signup-form {
position: absolute;
width: 619px;
height: 739px;
left: 720px;
top: 156px;

background: #FF327C;
border-radius: 0px 15px 15px 0px; 
} */

.signup-form-div {
  position: absolute;
  width: 619px;
  height: 739px;
  left: 720px;
  top: 156px;
  
  background: #FF327C;
  border-radius: 0px 15px 15px 0px;
}

.signin-div {
  background:  #F9F0F0;
  border-radius: 0px 15px 15px
}

.logged-out-message {
  position: absolute;
  height: 29px;
  left: 576px;
  top: 508px;
}

.landing-div {
  margin: auto;
  background: #F9F0F0;
}
/* #profile-div {
position: absolute;
width: 277px;
height: 631px;
left: 38px;
top: 356px;

background: #F9F6F6;
border-radius: 5px;
} */

#profile-photo {
position: absolute;
border-radius: 50%;
width: 226px;
height: 226px;
left: 62px;
top: 117px;
}

#profile-name {
position: absolute;
width: 208px;
height: 39px;
left: 70px;
top: 379px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 39px;
text-transform: uppercase;
}

#profile-username {
position: absolute;
width: 99px;
height: 22px;
left: 125px;
top: 435px;

/* font-family: 'Inter'; */
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 22px;
}

#profile-bio {
position: absolute;
width: 187px;
height: 15px;
left: 83px;
top: 475px;

/* font-family: 'Inter'; */
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
text-align: center;
}

#photo-update-label {
position: absolute;
width: 187px;
height: 23px;
left: 81px;
top: 684px;

/* font-family: 'Inter'; */
font-style: italic;
font-weight: 200;
font-size: 19px;
line-height: 23px;

}

#profile-photo-update {
position: absolute;
width: 228px;
height: 45px;
left: 62px;
top: 720px;

background: #E8D5D2;
border-radius: 10px;
}

#update-bio-button {
position: absolute;
width: 228px;
height: 45px;
left: 62px;
top: 593px;

background: #FF327C;
border-radius: 10px;
/* font-family: 'Inter'; */
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;

color: #FFFFFF;
}

#logout-button {
position: absolute;
width: 228px;
height: 45px;
left: 62px;
top: 811px;

background: #000000;
border-radius: 10px;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;

color: #FFFFFF
}

#delete-button {
position: absolute;
width: 228px;
height: 45px;
left: 62px;
top: 902px;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;

color: #FFFFFF;

background: #D8D0D0;
border-radius: 10px;
}

.chatroom-label {
position: absolute;
height: 29px;
left: 576px;
top: 508px;
}

.chatroom {
  position: absolute;
  height: 29px;
  left: 576px;
  top: 565px;
}

button {
  cursor: pointer;
}

.song-card {
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
  padding-left: 5px;
  padding-right: 5px;
  margin: 20px 0px 20px 0px;
  width: 70%;
  /* box-shadow: 0 1px 2px 0 rgb(60 64 67 / 15%), 0 2px 6px 2px rgb(60 64 67 / 15%); */
  padding-top: 20px;
  border-radius: 10px;
}

.song-card img {
  object-fit: cover;
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 20px;
}

.song-card h3 {
  font-weight: 350;
}

.song-card h1 {
  font-weight: 700;
}

.song-card h4 {
  font-weight: 250;
  font-style: italic; 
}

.song-card img:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .song-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .song-card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .song-card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .song-card {
    width: calc(20% - 2rem);
  }
}

.song-info {
  position: relative;
  text-align: center;
}

#rating-button {
  width: 170px;
  height: 30px;
  height: 30px;
  background:  #D9D9D9;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}

.song-cards {
  margin-top: 120px;
  /* margin-left: 30px; */
  background-color: #F9F0F0;
}

.messages-div {
  margin-top: 150px;
}

.messages-list {
  list-style: none;
}